* {
	box-sizing: border-box;
}

body{
	background-image: url('../images/dark_wood.png');
}

.wrapper{

	display: flex;
	flex-direction: column;
	min-height: 100vh;
	border-radius: 14px;
}


.content{
	flex: 1;
}

.container{
	background-image: url("../images/concrete-texture.png");
	max-width: 720px;
	margin: 0 auto;
	border-radius: 14px;
}


.footer{	
	background-color: #f4f4f4;
	border-radius: 14px;
}

.footer__row{
	display: flex;


	justify-content: center;
	align-items: center;
	height: 45px;
}

.footer__text{

}
